<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.title}}</span></a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="navbar-logo">
            <ul class="nav navbar-nav">
                <li>
                    <a>
                        Introduction
                    </a>
                </li>
                <li><a>Allusions</a></li>
                <li><a>Why Hypertext?</a></li>
                <li><a>Biography</a></li>
                <li><a>Conclusions</a></li>
                <li><a>Bibliography</a></li>
            </ul>
        </div>
    </div>
</nav>