<div class="poemscroll">
    <h2 class="center"><a ng-click="vm.scroll('title')">The
        Hollow Men</a></h2>

    <p class="center"><a ng-click="vm.scroll('gunpowderplot')">1925</a>

    <p class="center epigraph"><a ng-click="vm.scroll('epigraphtosection')">Mistah
        Kurtz&mdash;he dead.</a>

    <hr/>

    <p class="center smallcaps">The Hollow Men</p>

    <p class="right epigraph"><a ng-click="vm.scroll('epigraphtopoem')">A
        penny for the Old Guy</a></p>

    <p class="center">I</p>

    <p class="line">We are the <a ng-click="vm.scroll('onefour')">hollow
        men</a></p>

    <p class="line">We are the <a ng-click="vm.scroll('two')">stuffed
        men</a></p>

    <p class="line">Leaning together</p>

    <p class="line"><a ng-click="vm.scroll('four')">Headpiece
        filled with straw</a>. Alas!
    </p>

    <div class="linenumber col-xs-1">5</div>
    <div class="line">Our dried voices, when</div>

    <p class="line">We <a ng-click="vm.scroll('six')">whisper</a>
        together
    </p>

    <p class="line">Are quiet and meaningless</p>

    <p class="line">As wind in dry grass</p>

    <p class="line">Or rats' feet over broken glass</p>

    <div class="linenumber col-xs-1">10</div>
    <div class="line">In our dry cellar</div>
    <br/>

    <div class="line indent"><a ng-click="vm.scroll('eleventwelve')">Shape
        without form, shade without colour,</a></div>

    <p class="line"><a ng-click="vm.scroll('eleventwelve')">Paralysed
        force, gesture without motion;</a></p>
    <br/>

    <p class="line indent"><a ng-click="vm.scroll('thirteenfifteen')">Those
        who have crossed</a></p>

    <p class="line"><a ng-click="vm.scroll('thirteenfifteen')">With
        direct eyes, to death's other Kingdom</a></p>

    <div class="linenumber col-xs-1">15</div>
    <div class="line"><a ng-click="vm.scroll('fifteen')">Remember
        us</a> <a ng-click="vm.scroll('thirteenfifteen')">-
        if at all - not as lost</a></div>

    <p class="line">Violent souls, but only</p>

    <p class="line">As the hollow men</p>

    <p class="line">The stuffed men.</p>
    <br/>

    <p class="center">II</p>

    <p class="line"><a ng-click="vm.scroll('nineteentwentytwo')">Eyes
        I dare not meet in </a><a ng-click="vm.scroll('nineteen')">dreams</a></p>

    <div class="linenumber col-xs-1">20</div>
    <div class="line"><a ng-click="vm.scroll('nineteentwentytwo')">In
        death's dream kingdom</a></div>

    <p class="line"><a ng-click="vm.scroll('twentytwentytwo')">These
        do not appear:</a></p>

    <p class="line"><a ng-click="vm.scroll('twentytwentytwo')">There,
        the eyes are</a></p>

    <p class="line"><a ng-click="vm.scroll('twentythreetwentyeight')">Sunlight
        on a </a><a ng-click="vm.scroll('twentythree')">broken
        column</a></p>

    <p class="line"><a ng-click="vm.scroll('twentythreetwentyeight')">There,
        is a</a> <a ng-click="vm.scroll('twentyfour')">tree
        swinging</a></p>

    <div class="linenumber col-xs-1">25</div>
    <div class="line"><a ng-click="vm.scroll('twentythreetwentyeight')">And
        voices are</a></div>

    <p class="line"><a ng-click="vm.scroll('twentythreetwentyeight')">In
        the wind's singing</a></p>

    <p class="line"><a ng-click="vm.scroll('twentythreetwentyeight')">More
        distant and more solemn</a></p>

    <p class="line"><a ng-click="vm.scroll('twentythreetwentyeight')">Than
        a fading star.</a></p>
    <br/>

    <p class="line indent">Let me be no nearer</p>

    <div class="linenumber col-xs-1">30</div>
    <div class="line">In death's dream kingdom</div>

    <p class="line">Let me also wear</p>

    <p class="line">Such <a ng-click="vm.scroll('thirtytwo')">deliberate
        disguises</a></p>

    <p class="line">Rat's coat, crowskin, crossed staves</p>

    <p class="line">In a field</p>

    <div class="linenumber col-xs-1">35</div>
    <div class="line"><a ng-click="vm.scroll('thirtyfive')">Behaving
        as the wind behaves</a></div>

    <p class="line">No nearer&mdash;</p>
    <br/>

    <p class="line indent"><a ng-click="vm.scroll('thirtyseventhirtyeight')">Not
        that final meeting</a></p>

    <p class="line"><a ng-click="vm.scroll('thirtyseventhirtyeight')">In
        the twilight kingdom</a></p>
    <br/>

    <p class="center">III</p>

    <p class="line"><a ng-click="vm.scroll('thirtyninefortyfour')">This
        is the dead land</a></p>

    <div class="linenumber col-xs-1">40</div>
    <div class="line"><a ng-click="vm.scroll('thirtyninefortyfour')">This
        is cactus land</a></div>

    <p class="line"><a ng-click="vm.scroll('thirtyninefortyfour')">Here
        the stone images</a></p>

    <p class="line"><a ng-click="vm.scroll('thirtyninefortyfour')">Are
        raised, here they receive</a></p>

    <p class="line"><a ng-click="vm.scroll('thirtyninefortyfour')">The
        supplication of a dead man's hand</a></p>

    <p class="line"><a ng-click="vm.scroll('thirtyninefortyfour')">Under
        the twinkle of a fading star.</a></p>
    <br/>

    <div class="linenumber col-xs-1">45</div>
    <div class="line indent">Is it like this</div>

    <p class="line">In death's other kingdom</p>

    <p class="line"><a ng-click="vm.scroll('fortyseven')">Waking
        alone</a></p>

    <p class="line">At the hour when we are</p>

    <p class="line"><a ng-click="vm.scroll('fortyninefiftyone')">Trembling
        with tenderness</a></p>

    <div class="linenumber col-xs-1">50</div>
    <div class="line"><a ng-click="vm.scroll('fiftyfiftyone')">Lips
        that would kiss</a></div>

    <p class="line"><a ng-click="vm.scroll('fiftyfiftyone')">Form
        prayers to broken stone</a>.
    </p>
    <br/>

    <p class="center">IV</p>

    <p class="line"><a ng-click="vm.scroll('fiftytwofiftysix')">The
        eyes are not here</a></p>

    <p class="line"><a ng-click="vm.scroll('fiftytwofiftysix')">There
        are no eyes here</a></p>

    <p class="line"><a ng-click="vm.scroll('fiftytwofiftysix')">In
        this valley of dying stars</a></p>

    <div class="linenumber col-xs-1">55</div>
    <div class="line"><a ng-click="vm.scroll('fiftytwofiftysix')">In
        this hollow valley</a></div>

    <p class="line">This <a ng-click="vm.scroll('fiftysix')">broken
        jaw</a> of our lost kingdoms
    </p>
    <br/>

    <p class="line indent"><a ng-click="vm.scroll('fiftysevensixty')">In
        this last of meeting places</a></p>

    <p class="line"><a ng-click="vm.scroll('fiftysevensixty')">We
        grope together</a></p>

    <p class="line"><a ng-click="vm.scroll('fiftysevensixty')">And
        avoid speech</a></p>

    <div class="linenumber col-xs-1">60</div>
    <div class="line"><a ng-click="vm.scroll('fiftysevensixty')">Gathered
        on this beach of the </a><a ng-click="vm.scroll('sixty')">tumid
        river</a></div>
    <br/>

    <p class="line indent"><a ng-click="vm.scroll('sixtyonesixtytwo')">Sightless,
        unless</a></p>

    <p class="line"><a ng-click="vm.scroll('sixtyonesixtytwo')">The
        eyes reappear</a></p>

    <p class="line"><a ng-click="vm.scroll('sixtyfoursixtythree')">As
        the perpetual star</a></p>

    <p class="line"><a ng-click="vm.scroll('sixtyfoursixtythree')">Multifoliate
        rose</a></p>

    <div class="linenumber col-xs-1">65</div>
    <div class="line">Of death's <a ng-click="vm.scroll('sixtyfive')">twilight</a>
        kingdom
    </div>

    <p class="line">The hope only</p>

    <p class="line">Of empty men.</p>
    <br/>

    <p class="center">V</p>

    <p class="line italic"><a ng-click="vm.scroll('sixtyeightseventy')">Here
        we go round the prickly pear</a></p>

    <p class="line italic"><a ng-click="vm.scroll('sixtyeightseventy')">Prickly
        pear prickly pear</a></p>

    <div class="linenumber col-xs-1">70</div>
    <div class="line italic"><a ng-click="vm.scroll('sixtyeightseventy')">Here
        we go round the prickly pear</a></div>

    <p class="line italic"><a ng-click="vm.scroll('sixtyeightseventy')">At
        five o'clock in the morning</a>.</p>
    <br/>

    <p class="line indent"><a ng-click="vm.scroll('seventytwoninety')">Between
        the idea</a></p>

    <p class="line"><a ng-click="vm.scroll('seventytwoninety')">And
        the reality</a></p>

    <p class="line"><a ng-click="vm.scroll('seventytwoninety')">Between
        the motion</a></p>

    <div class="linenumber col-xs-1">75</div>
    <div class="line"><a ng-click="vm.scroll('seventytwoninety')">And
        the act</a></div>

    <p class="line">Falls <a ng-click="vm.scroll('seventysix')">the
        Shadow</a></p>
    <br/>

    <p class="line indent"><i><a ng-click="vm.scroll('seventyseven')">For
        Thine is the Kingdom</a></i></p>

    <p class="line">Between the conception</p>

    <p class="line">And the creation</p>

    <div class="linenumber col-xs-1">80</div>
    <p class="line">Between the emotion</p>

    <p class="line">And the response</p>

    <p class="line">Falls the Shadow</p>

    <p class="line right italic"><a ng-click="vm.scroll('eightythree')">Life
        is very long</a></p>
    <br/>

    <p class="line indent">Between the desire</p>

    <div class="linenumber col-xs-1">85</div>
    <div class="line">And the spasm</div>

    <p class="line"><a ng-click="vm.scroll('eightysixeightyseven')">Between
        the potency</a></p>

    <p class="line"><a ng-click="vm.scroll('eightysixeightyseven')">And
        the existence</a></p>

    <p class="line"><a ng-click="vm.scroll('eightyeighteightynine')">Between
        the essence</a></p>

    <p class="line"><a ng-click="vm.scroll('eightyeighteightynine')">And
        the descent</a></p>

    <div class="linenumber col-xs-1">90</div>
    <div class="line">Falls the Shadow</div>

    <p class="line right italic"><a ng-click="vm.scroll('seventyseven')">For
        Thine is the Kingdom</a></p>
    <br/>

    <p class="line indent">For Thine is</p>

    <p class="line">Life is</p>

    <p class="line">For Thine is the</p>
    <br/>

    <div class="linenumber col-xs-1">95</div>
    <div class="line indent italic"><a ng-click="vm.scroll('ninetyfiveninetyeight')">This
        is the way the world ends</a></div>

    <p class="line italic"><a ng-click="vm.scroll('ninetyfiveninetyeight')">This
        is the way the world ends</a></p>

    <p class="line italic"><a ng-click="vm.scroll('ninetyfiveninetyeight')">This
        is the way the world ends</a></p>

    <p class="line italic"><a ng-click="vm.scroll('ninetyeight')">Not
        with a bang but a whimper.</a>
    </p>

</div>

