<h2 class="center"><a ng-click="vm.showNote('title')">The
    Hollow Men</a></h2>

<p class="center"><a ng-click="vm.showNote('1925')">1925</a>

<p class="center epigraph"><a ng-click="vm.showNote('epigraph1')">Mistah
    Kurtz&mdash;he dead.</a>

<hr/>

<p class="center smallcaps">The Hollow Men</p>

<p class="right epigraph"><a ng-click="vm.showNote('epigraph2')">A
    penny for the Old Guy</a></p>

<p class="center">I</p>

<p class="line">We are the <a ng-click="vm.showNote('onefour')">hollow
    men</a></p>

<p class="line">We are the <a ng-click="vm.showNote('two')">stuffed
    men</a></p>

<p class="line">Leaning together</p>

<p class="line"><a ng-click="vm.showNote('four')">Headpiece
    filled with straw</a>. Alas!
</p>

<div class="linenumber col-xs-1">5</div>
<div class="line">Our dried voices, when</div>

<p class="line">We <a ng-click="vm.showNote('six')">whisper</a>
    together
</p>

<p class="line">Are quiet and meaningless</p>

<p class="line">As wind in dry grass</p>

<p class="line">Or rats' feet over broken glass</p>

<div class="linenumber col-xs-1">10</div>
<div class="line">In our dry cellar</div>
<br/>

<a ng-click="vm.showNote('eleventwelve')">
    <div class="line indent">Shape
        without form, shade without colour,
    </div>

    <p class="line">Paralysed
        force, gesture without motion;</p></a>
<br/>

<a ng-click="vm.showNote('thirteenfifteen')"><p class="line indent">Those
    who have crossed</p>

    <p class="line">With
        direct eyes, to death's other Kingdom</p></a>

<div class="linenumber col-xs-1">15</div>
<div class="line"><a ng-click="vm.showNote('fifteen')">Remember us</a><a
        ng-click="vm.showNote('thirteenfifteen')">&mdash;if at all&mdash;not as lost</a></div>

<p class="line">Violent souls, but only</p>

<p class="line">As the hollow men</p>

<p class="line">The stuffed men.</p>
<br/>

<p class="center">II</p>

<p class="line"><a ng-click="vm.showNote('nineteentwentytwo')">Eyes
    I dare not meet in</a> <a ng-click="vm.showNote('nineteen')">dreams</a></p>

<div class="linenumber col-xs-1">20</div>
<div class="line"><a ng-click="vm.showNote('nineteentwentytwo')">In
    death's dream kingdom</a></div>

<a ng-click="vm.showNote('twentytwentytwo')"><p class="line">These
    do not appear:</p>

    <p class="line">There, the eyes are</p></a>

<p class="line"><a ng-click="vm.showNote('twentythreetwentyeight')">Sunlight
    on a </a><a ng-click="vm.showNote('twentythree')">broken
    column</a></p>

<p class="line"><a ng-click="vm.showNote('twentythreetwentyeight')">There,
    is a</a> <a ng-click="vm.showNote('twentyfour')">tree
    swinging</a></p>

<div class="linenumber col-xs-1">25</div>
<a ng-click="vm.showNote('twentythreetwentyeight')">
    <div class="line">And
        voices are
    </div>

    <p class="line">In the wind's singing</p>

    <p class="line">More distant and more solemn</p>

    <p class="line">Than a fading star.</p></a>
<br/>

<p class="line indent">Let me be no nearer</p>

<div class="linenumber col-xs-1">30</div>
<div class="line">In death's dream kingdom</div>

<p class="line">Let me also wear</p>

<p class="line">Such <a ng-click="vm.showNote('thirtytwo')">deliberate
    disguises</a></p>

<p class="line">Rat's coat, crowskin, crossed staves</p>

<p class="line">In a field</p>

<div class="linenumber col-xs-1">35</div>
<div class="line"><a ng-click="vm.showNote('thirtyfive')">Behaving
    as the wind behaves</a></div>

<p class="line">No nearer&mdash;</p>
<br/>

<a ng-click="vm.showNote('thirtyseventhirtyeight')"><p class="line indent">Not
    that final meeting</p>

    <p class="line">In the twilight kingdom</p></a>
<br/>

<p class="center">III</p>

<a ng-click="vm.showNote('thirtyninefortyfour')"><p class="line">This
    is the dead land</p>

    <div class="linenumber col-xs-1">40</div>
    <div class="line">This is cactus land</div>

    <p class="line">Here the stone images</p>

    <p class="line">Are raised, here they receive</p>

    <p class="line">The supplication of a dead man's hand</p>

    <p class="line">Under the twinkle of a fading star.</p></a>
<br/>

<div class="linenumber col-xs-1">45</div>
<div class="line indent">Is it like this</div>

<p class="line">In death's other kingdom</p>

<p class="line"><a ng-click="vm.showNote('fortyseven')">Waking
    alone</a></p>

<p class="line">At the hour when we are</p>

<p class="line"><a ng-click="vm.showNote('fortyninefiftyone')">Trembling
    with tenderness</a></p>

<div class="linenumber col-xs-1">50</div>
<a ng-click="vm.showNote('fiftyfiftyone')">
    <div class="line">Lips
        that would kiss
    </div>

    <p class="line">Form prayers to broken stone.</p></a>
<br/>

<p class="center">IV</p>

<a ng-click="vm.showNote('fiftytwofiftysix')">
    <p class="line">The eyes are not here</p>

    <p class="line">There are no eyes here</p>

    <p class="line">In this valley of dying stars</p>

    <div class="linenumber col-xs-1">55</div>
    <div class="line">In this hollow valley</div>
</a>

<p class="line">This <a ng-click="vm.showNote('fiftysix')">broken
    jaw</a> of our lost kingdoms
</p>
<br/>

<a ng-click="vm.showNote('fiftysevensixty')">
    <p class="line indent">In this last of meeting places</p>

    <p class="line">We grope together</p>

    <p class="line">And avoid speech</p></a>

<div class="linenumber col-xs-1">60</div>
<div class="line"><a ng-click="vm.showNote('fiftysevensixty')">Gathered on this beach of the</a>
    <a ng-click="vm.showNote('sixty')">tumid river</a></div>
<br/>

<a ng-click="vm.showNote('sixtyonesixtytwo')"><p class="line indent">Sightless, unless</p>

    <p class="line">The eyes reappear</p></a>

<a ng-click="vm.showNote('sixtyfoursixtythree')"><p class="line">As the perpetual star</p>

    <p class="line">Multifoliate rose</p></a>

<div class="linenumber col-xs-1">65</div>
<div class="line">Of death's <a ng-click="vm.showNote('sixtyfive')">twilight</a>
    kingdom
</div>

<p class="line">The hope only</p>

<p class="line">Of empty men.</p>
<br/>

<p class="center">V</p>

<a ng-click="vm.showNote('sixtyeightseventyone')"><p class="line italic">Here
    we go round the prickly pear</p>

    <p class="line italic">Prickly pear prickly pear</p>

    <div class="linenumber col-xs-1">70</div>
    <div class="line italic">Here we go round the prickly pear</div>

    <p class="line italic">At five o'clock in the morning.</p></a>
<br/>

<a ng-click="vm.showNote('seventytwoninety')"><p class="line indent">Between the idea</p>

    <p class="line">And the reality</p>

    <p class="line">Between the motion</p>

    <div class="linenumber col-xs-1">75</div>
    <div class="line">And the act</div>
</a>

<p class="line">Falls <a ng-click="vm.showNote('seventysix')">the
    Shadow</a></p>
<br/>

<p class="line indent"><i><a ng-click="vm.showNote('seventyseven')">For
    Thine is the Kingdom</a></i></p>

<p class="line">Between the conception</p>

<p class="line">And the creation</p>

<div class="linenumber col-xs-1">80</div>
<p class="line">Between the emotion</p>

<p class="line">And the response</p>

<p class="line">Falls the Shadow</p>

<p class="line right italic"><a ng-click="vm.showNote('eightythree')">Life
    is very long</a></p>
<br/>

<p class="line indent">Between the desire</p>

<div class="linenumber col-xs-1">85</div>
<div class="line">And the spasm</div>

<a ng-click="vm.showNote('eightysixeightyseven')"><p class="line">Between the potency</p>

    <p class="line">And the existence</p></a>

<a ng-click="vm.showNote('eightyeighteightynine')"><p class="line">Between the essence</p>

    <p class="line">And the descent</p></a>

<div class="linenumber col-xs-1">90</div>
<div class="line">Falls the Shadow</div>

<p class="line right italic"><a ng-click="vm.showNote('seventyseven')">For
    Thine is the Kingdom</a></p>
<br/>

<p class="line indent">For Thine is</p>

<p class="line">Life is</p>

<p class="line">For Thine is the</p>
<br/>

<div class="linenumber col-xs-1">95</div>
<a ng-click="vm.showNote('ninetyfiveninetyeight')">
    <div class="line indent italic">This is the way the world ends</div>

    <p class="line italic">This is the way the world ends</p>

    <p class="line italic">This is the way the world ends</p></a>

<p class="line italic"><a ng-click="vm.showNote('ninetyeight')">Not with a bang but a whimper.</a></p>


